.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
    padding-left: 4rem;
    padding-right: 4rem;
}

ul{
    display: flex;
    column-gap: 2rem;
}

li{
    display: flex;
    column-gap: 3.1rem;
    font-size: 1.4rem;
    list-style: none;
    cursor: pointer;
}