<div class="footer">
    <div id="partone" class="col-md-11">
        <div>
            <img src="assets/logo.svg" width="140" alt="logo">
            <pre>&copy; 2010 - 2025, Zerodha Broking Ltd.
All Rights Reserved.</pre>
            <img src="assets/x-twitter.svg" alt="x-twitter">&nbsp;&nbsp;&nbsp;
            <img src="assets/x-twitter.svg" alt="x-twitter">&nbsp;&nbsp;&nbsp;
            <img src="assets/x-twitter.svg" alt="x-twitter">&nbsp;&nbsp;&nbsp;
            <img src="assets/x-twitter.svg" alt="x-twitter"><hr>
            <img src="assets/youtube.svg" alt="youtube">&nbsp;&nbsp;&nbsp;
            <img src="assets/whatsapp.svg" height="18" width="18" alt="whatsapp">&nbsp;&nbsp;&nbsp;
            <img src="assets/x-twitter.svg" alt="x-twitter">&nbsp;&nbsp;&nbsp;
            <img src="assets/x-twitter.svg" alt="x-twitter">
        </div>
        <div>
            <h2 style="display: inline;">Company</h2>
            <h5>About</h5>
            <h5>Products</h5>
            <h5>Pricing</h5>
            <h5>Referral programme</h5>
            <h5>Careers</h5>
            <h5>Zerodha.tech</h5>
            <h5>Open source</h5>
            <h5>Press & media</h5>
            <h5>Zerodha Cares (CSR)</h5>     
        </div>
        <div>
            <h2 style="display: inline;">Support</h2>
            <h5>Contact us</h5>
            <h5>Z-Connect blog</h5>
            <h5>List of charges</h5>
            <h5>Downloads & resources</h5>
            <h5>Videos</h5>
            <h5>Market overview</h5>
            <h5>How to file a complaint?</h5>
            <h5>Status of your complaints</h5>
        </div>
        <div>
            <h2 style="display: inline;">Account</h2>
            <h5>Open an account</h5>
            <h5>Fund transfer</h5>
        </div>
    </div>
    <div id="parttwo" class="col-md-1">

    </div>
</div>
