<div class="firstsection">
    <img src="assets/landing.png" width="700" alt="landing">
    <h1 style="font-size: 2.75rem;">Invest in everything</h1>
    <h4>Online platform to invest in stocks, derivatives, mutual funds, ETFs, bonds, and more.</h4>
    <button id="signup_btn">Sign up for free</button>
</div>
<br><br><br><br>
<div class="secondsection">
    <div>
        <h1>Trust with confidence</h1><br>
        <h2>Customer-first always</h2>
        <p>That's why 1.5+ crore customers trust Zerodha with ₹4.5+ lakh crores of equity investments and contribute to 15% of daily retail exchange volumes in India.</p>
        <br>
        <h2>No spam or gimmicks</h2><br>
        <p>No gimmicks, spam, "gamification", or annoying push notifications. High quality apps that you use at your pace, the way you like.</p>
        <br>
        <h2>The Zerodha universe</h2>
        <p>Not just an app, but a whole ecosystem. Our investments in 30+ fintech startups offer you tailored services specific to your needs.</p>
        <br>
        <h2>Do better with money</h2>
        <p>With initiatives like <a href="#">Nudge</a> and <a href="#">Kill Switch</a>, we don't just facilitate transactions, but actively help you do better with your money.</p>
    </div>
    <img src="assets/ecosystem.png" width="800" alt="ecosystem">
</div><br>
<img src="assets/press-logos.png" id="news" alt="press-logo">
<div class="thirdsection">
    <h1>Unbeatable Pricing</h1>
    <div class="pricing">
        <p>We pioneered the concept of discount broking and price transparency in India. Flat fees and no hidden charges.</p>
        <div id="price">
            <img src="assets/pricing-eq.svg" width="100" alt="pricing">
            <span>Free account opening</span>
            <img src="assets/pricing-eq.svg" width="100" alt="pricing">
            <span>Free equity delivery and direct mutual funds</span>
            <img src="assets/other-trades.svg" width="100" alt="pricing">
            <span>Intraday and F&O</span>
        </div>
    </div>
    <a href="#">See Pricing -></a>
</div><br><br><br><br>
<div class="fourthsection">
    <div>
        <img src="assets/index-education.svg" alt="index-education">
    </div>
    <div id="varsity">
        <h1>Free and open market education</h1>
        <p>Varsity, the largest online stock market education book in the world covering everything from the basics to advanced trading.</p>
        <a href="#">Varsity -></a><br><br>
        <p>TradingQ&A, the most active trading and investment community in India for all your market related queries.</p>
        <a href="#">TradingQ&A -></a><br><br>
    </div>
</div><br><br><br><br>
<div class="fifthsection">
    <h1>Open a Zerodha account</h1>
    <p>Modern platforms and apps, ₹0 investments, and flat ₹20 intraday and F&O trades.</p>
    <button id="signup">Sign up for free</button>
</div><br><br><br><br>
